@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
}
body{
    overflow-x: hidden;
}

/* menu page animation  */
.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moveAnimation{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.moveLink{
    opacity: 0;
    transition: all ease 0.5s;
}

.link:hover .moveLink{
    opacity: 1;
}


.cross:hover .cross-bg{
    background-color: #d3fd50;
    transition: all ease 0.5s;
}